<div class="flex flex-col items-center my-8">
    <h2 class="text-center text-3xl mb-6">{{ section.settings.title }}</h2>

    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 px-3">
            <div class="lg:flex bg-white shadow-xl rounded-lg overflow-hidden">
                {% if section.settings.article_1.image %}
                    <a href="{{ section.settings.article_1.url }}" class="w-full">
                        <img class="w-full h-80 object-cover" src="{{ section.settings.article_1.image | img_url: 'large' }}" alt="{{ section.settings.article_1.image.alt }}" />
                    </a>
                {% else %}
                    <div class="w-full h-80 object-cover bg-green-900">
                        <a href="{{ section.settings.article_1.url }}">{{ 'image' | placeholder_svg_tag: 'w-full h-full invert' }}</a>
                    </div>
                {% endif %}

                <div class="p-4">
                    <a href="{{ section.settings.article_1.url }}" class="hover:underline">
                        <h1 class="text-xl font-medium my-4">{{ section.settings.article_1.title }}</h1>
                    </a>
                    {% if section.settings.article_1.excerpt.size > 0 %}
                        <p>{{ section.settings.article_1.excerpt | strip_html | truncatewords: 30 }}</p>
                    {% else %}
                        <p>{{ section.settings.article_1.content | strip_html | truncatewords: 30 }}</p>
                    {% endif %}
                    <a href="{{ section.settings.article_1.url }}" class="font-medium text-green-700 hover:text-green-900 my-4 block">Read More</a>
                </div>
            </div>

            <div class="lg:flex bg-white shadow-xl rounded-lg overflow-hidden">
                {% if section.settings.article_2.image %}
                    <a href="{{ section.settings.article_2.url }}" class="w-full">
                        <img class="w-full h-80 object-cover" src="{{ section.settings.article_2.image | img_url: 'large' }}" alt="{{ section.settings.article_2.image.alt }}" />
                    </a>
                {% else %}
                    <div class="w-full h-80 object-cover bg-green-900">
                        <a href="{{ section.settings.article_2.url }}">{{ 'image' | placeholder_svg_tag: 'w-full h-full invert' }}</a>
                    </div>
                {% endif %}

                <div class="p-4">
                    <a href="{{ section.settings.article_2.url }}" class="hover:underline">
                        <h1 class="text-xl font-medium my-4">{{ section.settings.article_2.title }}</h1>
                    </a>
                    {% if section.settings.article_2.excerpt.size > 0 %}
                        <p>{{ section.settings.article_2.excerpt | strip_html | truncatewords: 30 }}</p>
                    {% else %}
                        <p>{{ section.settings.article_2.content | strip_html | truncatewords: 30 }}</p>
                    {% endif %}
                    <a href="{{ section.settings.article_2.url }}" class="font-medium text-green-700 hover:text-green-900 my-4 block">Read More</a>
                </div>
            </div>

            <div class="lg:flex bg-white shadow-xl rounded-lg overflow-hidden">
                {% if section.settings.article_3.image %}
                    <a href="{{ section.settings.article_3.url }}" class="w-full">
                        <img class="w-full h-80 object-cover" src="{{ section.settings.article_3.image | img_url: 'large' }}" alt="{{ section.settings.article_3.image.alt }}" />
                    </a>
                {% else %}
                    <div class="w-full h-80 object-cover bg-green-900">
                        <a href="{{ section.settings.article_3.url }}">{{ 'image' | placeholder_svg_tag: 'w-full h-full invert' }}</a>
                    </div>
                {% endif %}

                <div class="p-4">
                    <a href="{{ section.settings.article_3.url }}" class="hover:underline">
                        <h1 class="text-xl font-medium my-4">{{ section.settings.article_3.title }}</h1>
                    </a>
                    {% if section.settings.article_3.excerpt.size > 0 %}
                        <p>{{ section.settings.article_3.excerpt | strip_html | truncatewords: 30 }}</p>
                    {% else %}
                        <p>{{ section.settings.article_3.content | strip_html | truncatewords: 30 }}</p>
                    {% endif %}
                    <a href="{{ section.settings.article_3.url }}" class="font-medium text-green-700 hover:text-green-900 my-4 block">Read More</a>
                </div>
            </div>

            <div class="lg:flex bg-white shadow-xl rounded-lg overflow-hidden">
                {% if section.settings.article_4.image %}
                    <a href="{{ section.settings.article_4.url }}" class="w-full">
                        <img class="w-full h-80 object-cover" src="{{ section.settings.article_4.image | img_url: 'large' }}" alt="{{ section.settings.article_4.image.alt }}" />
                    </a>
                {% else %}
                    <div class="w-full h-80 object-cover bg-green-900">
                        <a href="{{ section.settings.article_4.url }}">{{ 'image' | placeholder_svg_tag: 'w-full h-full invert' }}</a>
                    </div>
                {% endif %}

                <div class="p-4">
                    <a href="{{ section.settings.article_4.url }}" class="hover:underline">
                        <h1 class="text-xl font-medium my-4">{{ section.settings.article_4.title }}</h1>
                    </a>
                    {% if section.settings.article_4.excerpt.size > 0 %}
                        <p>{{ section.settings.article_4.excerpt | strip_html | truncatewords: 30 }}</p>
                    {% else %}
                        <p>{{ section.settings.article_4.content | strip_html | truncatewords: 30 }}</p>
                    {% endif %}
                    <a href="{{ section.settings.article_4.url }}" class="font-medium text-green-700 hover:text-green-900 my-4 block">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured Articles",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured Articles",
            "label": "Title"
        },
        {
            "type": "article",
            "id": "article_1",
            "label": "Article 1"
        },
        {
            "type": "article",
            "id": "article_2",
            "label": "Article 2"
        },
        {
            "type": "article",
            "id": "article_3",
            "label": "Article 3"
        },
        {
            "type": "article",
            "id": "article_4",
            "label": "Article 4"
        }
    ]
}
{% endschema %}