<div class="flex flex-col items-center my-8">
    <h1 class="text-3xl font-medium">{{ section.settings.title }}</h1>

    <div class="max-w-6xl mx-auto my-3">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            {% for collection in collections %}
                {% if collection.all_products_count > 0 %}
                    <div class="w-full py-6 px-3">
                        <div class="shadow-lg bg-white overflow-hidden rounded-lg">
                            <a href="{{ collection.url }}">
                                <div class="h-80 overflow-hidden">
                                    {% if collection.featured_image != blank %}
                                        {% assign collection_image = collection.featured_image %}
                                    {% elsif collection.products.first.image != blank %}
                                        {% assign collection_image = collection.products.first.image %}
                                    {% else %}
                                        {% assign collection_image = blank %}
                                    {% endif %}

                                    {% if collection_image == blank %}    
                                        <img
                                            class="w-full h-full object-cover"
                                            src="{{ collection_image | img_url: 'large' }}"
                                            alt="{{ collection.title }}"
                                        >
                                    {% else %}
                                        <div class="bg-green-900 w-full h-full">
                                            {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover invert' }}
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                            
                            <div class="p-4">
                                <h1 class="text-xl hover:underline">
                                    <a href="{{ collection.url }}">{{ collection.title }}</a>
                                </h1>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Template List Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Title"
    }
  ]
}
{% endschema %}